<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1> Enter your info below to RSVP </h1>
	<%= simple_form_for @reservation do |f| %>
		<%= f.input :name %>
		<%= f.input :date %>
		<%= f.input :mode %>
		<br />
		<%= f.submit 'Create', :class => 'btn btn-primary' %>
	<% end %>
</div>
